<div class="row justify-content-center">
  <% if object.errors.any? %>
    <ul>
      <h6>The following errors were found:</h6>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

