<div class="container">
  <div class="row">
    <%=link_to "Log out", destroy_user_session_path, method: :delete %>
    <div class="col-md-12">

    </div>
    <div class="row show-posts">

    </div>
  </div>
</div>