<div class="container">
  <div class="row">

    <div class="col-md-12">

    </div>
    <div class="row show-posts">
      <%# @post.each do |post|%>
<!--        <div class="col-md-4">-->
<!--          <b><%#= post.user.username %></b> posted:<br/>-->
          <%# if post.image_data? %>
            <%#=image_tag post.image_url, width: '300' %>
          <%# end %>

          <%# if post.context? %>
<!--            <%#= post.context %><br/>-->
          <%# end %>
<!--        </div>-->
      <%# end %>
    </div>
  </div>
</div>