/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "users";
@import "posts";

.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 10px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

body{
  background-color: #fffafa;
  font-size: 14px;
  color: #262626;
}

.nav-item:not(:first-child){
  margin-left: 40px
}

.container{
  max-width: 1000px;
}
.navbar{
  border-bottom: 1px solid #e6e6e6;
}
.side-right {
  padding: 50px;
  .login-box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #e5e6e6;
    border-radius: 1px;
    padding: 10px 0;
    margin: 0 0 10px;

    .btn-primary {
      width: 80%;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 400;
    }

    input {
      border: 1px solid #cbc8c8;
      font-size: 14px;
      width: 80%;
    }
  }
}

.reg-form {
  margin: auto;
  .reg-box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #e5e6e6;
    border-radius: 1px;
    padding: 15px;

    .btn-primary {
      width: 80%;
      line-height: 1.5;
      font-size: 15px;
      font-weight: 200;
    }
    .input {
      margin: 0 0 10px;
      width: 80%;
      background-color: #fff;
      border: 1px solid #e5e6e6
    }
  }
}

.linked-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #e5e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 10px 0 10px;
  text-align: center;
}